*/data/
analyse.sh
test.ipynb
dockerswarm_token.md
*/backups/
*/jupyter/jupyterhub-data/
*/openstackSwift/conf/
*.env
.idea/*
rawdata_zone/openstackKeystone/loci/
**/__pycache__/
rawdata_zone/openstackSwift/data/
rawdata_zone/openstackSwift/rsyncd/
rawdata_zone/openstackSwift/scripts/management/
rawdata_zone/openstackSwift/scripts/storage/