mongo.host = ""
mongo.port = ""
mongo.user = ""
mongo.pass = ""
swift.host = ""
swift.port = ""
swift.authUrl = ""
swift.user = ""
swift.pass = ""
app.name = ""
data.path = ""
mqtt.brokerUrl = ""
mqtt.username = ""
mqtt.password = ""
mqtt.batchDuration =
