flask>=1.1,<1.2
markupsafe==2.0.1
python-swiftclient>=3.11,<3.12
pymongo>=3.11,<3.12
influxdb_client
pandas
pynacl
pyOpenSSL
paramiko
uwsgi
flask_swagger_ui
Werkzeug==0.16.1
apispec 
apispec_webframeworks 
marshmallow
keystoneauth1==4.5.0
python-keystoneclient==4.4.0
