MONGO_URL = "XXXXX:27017"
SWIFT_AUTHURL = "http://XXXXXX:8080/auth/v1.0"
SWIFT_USER = 'XXXX'
SWIFT_KEY = 'XXXXX'
SWIFT_FILES_DIRECTORY = "cache-swift-files"
INFLUXDB_URL = "http://XXXXXXX:8086"
INFLUXDB_TOKEN = "XXXXXXX"
INFLUXDB_ORG = "XXXXXX"
INFLUXDB_BUCKET = "xxxx"
USER = ""
PASSWORD = ""