/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* CSS rules relative to header */
@import url("header.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drop {
  border: 2px dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
}

.commentBox {
  width: 100%;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}