.sidebar {
    min-height: 100% !important;
    background-color: rgba(20, 33, 61, 1);
    color: white;
    border-top-right-radius: 40px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
}

/* Header links */
.title a {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 15px;
    color: white;
}

.title a:hover, a:focus {
    color: grey !important;
}

.title a.active {
    color: #EA973B;
}

.navbar a, p {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none !important;
}

.navbar a:hover, a:focus {
    color: #EA973B !important;
}

.navbar-nav a, p {
    font-size: 20px;
    color: white;
}

.navbar-nav span {
    font-size: 20px;
    color: white;
}


.navbar-nav a:hover, a:focus {
    color: grey !important;
}

.navbar-nav a.active {
    background-color: lightgrey;
    color: rgba(20, 33, 61, 1) !important;
}

.route {
    margin-right: 4%;
    margin-left: 4%;
}
.sub-route {
    margin-right: 4%;
    margin-left: 20%;
}
.gestion {
    margin-right: 4%;
    margin-left: 4%;
}
