body {
    background-color: #F7F8FA;
}

@media (min-width: 1300px) {
    .container {
        max-width: 1246px;
    }
}

.main-upload .title {
    font-size: 24px;
    font-weight: 700;
    margin: 20px auto;
}

.jumbotron {
    background-color: #ffffff;
    padding: 18px 22px;
}

.main-upload label {
    font-size: 16px;
    font-weight: 700;
}

.main-upload .meta-label {
    color: #9b9c9b;
}

.main-upload ul {
    list-style: none;
    padding: 0;
}

.main-upload .supprimer {
    font-size: 16px;
    font-weight: 400;
    color: #EB5757;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    float: right;
}

.main-upload .supprimer span {
    margin-right: 12px;
}

.main-upload .filesize {
    color: #A2A2A3;
    margin-left: 30px;
    font-size: 16px;
}

.drop {
    border: 1px dashed #DCDEDF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 58px;
    color: #898989;
}

.drop u {
    color: #14213D;

}

.btn-oran {
    background-color: #ea973b;
    color: #ffffff;
    border-radius: 50rem;
    padding: 10px 40px;
    border: none;
}

.btn-oran:hover {
    background-color: #e58419;
    color: #ffffff;
}

.main-download .tab-download .nav-link,
.main-download .tab-download .nav-link.active {
    background-color: transparent;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

.main-download .title {
    font-size: 24px;
    font-weight: 700;
    margin: 12px auto;
}

.main-download .tab-download .nav-link.active {
    border-bottom: solid 3px #E9973B !important;
    border-radius: 0;
}

.main-download .tab-download {
    margin: 12px auto 30px;
}

.main-download .btn-search {
    padding: 20px 23px !important;
}


.main-download .jumbotron {
    border-radius: 50rem;
    padding: 10px 28px;
}

.main-download .jumbotron label {
    font-weight: 700;
    font-size: 16px;
    padding-left: 12px;
}

.main-download .jumbotron select,
.main-download .jumbotron input {
    border: none;
}

.main-download .jumbotron .border-right {
    border-right: 1px solid #B4B4B4 !important;
}

.main-download .download-detail .grid {
    margin: 10px auto;
    padding: 10px 20px;

}

.main-download .download-detail th {
    color: #ea973b;
}

.main-download .download-detail tr {
    height: 56px;
    vertical-align: middle;
}

.main-download .download-detail .per-page #per-page-sel {
    margin-left: 20px;
    width: 70px;
    border: solid #E9E9EA 1px;
    border-radius: 1rem;
    text-align-last: center
}

.btn-darkblue {
    background-color: #14213D;
    color: #ffffff;
    border-radius: 50rem;
    padding: 10px 40px;
    border: none;
}

.btn-darkblue:hover {
    background-color: #274077;
    color: #ffffff;
}


.page-item .page-link {
    color: #14213D;
}

.page-item.active .page-link {
    background-color: #14213D;
    border: none;
    margin: 0 5px;
}

.th-color {
    color: #ea973b;
}

.border-color {
    border-color: #ea973b;
}

.btn-table {
    background-color: #14213D;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;

}

.btn-table:hover {
    background-color: #ea973b;
    color: white;
}

.btn-table:disabled {
    background-color: #DCDEDF;
    color: black;
    border: solid 1px;
    border-color: #B4B4B4;
}

.main-download .tab-show .nav-link,
.main-download .tab-show .nav-link.active {
    background-color: transparent;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

.main-download .tab-show .nav-link.active {
    border-bottom: solid 3px #E9973B !important;
    border-radius: 0;
}

.main-download .data-table .grid {
    padding: 10px 20px;

}

.main-download .data-table th {
    color: #ea973b;
}

.main-download .data-table tr {
    height: 56px;
    vertical-align: middle;
}

.title-graph span {
    color: #E9973B;
}

::-webkit-calendar-picker-indicator {
    background-image: url('datepicker-calendar.png');
}

.modelsList {
    color: #E9973B;
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background-color: white;
    text-decoration:none;
}
.modelsList:hover {
    color: black;
    text-decoration:none;
}

.buttonModel {
    color: white;
    background-color: #ea973b;
    border: #ea973b;
}

.buttonModel:hover {
    background-color: #e58419;
    border: #e58419;
}

.form-check-input:checked {
    background-color: #e58419!important;
    border-color: #e58419!important;
}

.modelsList-cacher {
    color: grey;
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background-color: white;
    text-decoration:none;
}
.modelsList-cacher:hover {
    color: black;
    text-decoration:none;
}