#Les differentes data et url
#Swift
url_swift = "127.0.0.1:8080"
ip_address_swift = "IP_ADDRESS"
address_name_swift = "ADDRESS_NAME"
user_swift = "test:tester"
key_swift = "testing"

#Mongo
container_name_history = ""
container_name_collection_upload = ""
container_name_processed_data = ""
mongodb_url = "mongodb://127.0.0.1:27017"

#Influxdb
token_influxdb = ""
org_influxdb = ""
bucket_influxdb = ""
url_influxdb = "http://127.0.0.1:8086"
influxdb_measurement = "value_units"

# MariaDB
mariadb_host=""
mariadb_user=""
mariadb_passwd=""
mariadb_database=""

airflow_tmp = ""

mssqlserver_url = ""
mssqlserver_user = ""
mssqlserver_pwd = ""
mssqlserver_db_environment = ""


host_server_ms_sql = ""
host_server_ms_sql_user = ""
host_server_ms_sql_password = ""
path_server_ms_sql_file = ""
container_name_mssql_server = ""
